@import 'tailwindcss';

@plugin "tailwindcss-react-aria-components";

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

@utility container {
  padding-inline: 1.25rem;
  margin-inline: auto;

  @media (min-width: 1024px) {
    padding-inline: 4rem;
    margin-inline: auto;
  }
}

html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.dotted-background {
  background-image: radial-gradient(oklch(77.7% 0.152 181.912 / 0.2) 1px, transparent 0);
  background-size: 6px 6px;
  background-position: -19px -19px;
}
